
/*
Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the web page when you refresh in the browser.
*/

body {

    font-family: Georgia, "Times New Roman", Times, serif;

    /* Typography */
    font-size: 18px;
    line-height: 150%;
    color: #333;
    margin: auto;
    max-width: 960px;

    /* Visual */

      animation: colorchange 50s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 50s infinite; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {background: rgb(243, 191, 191);}
  25%  {background: rgb(248, 248, 194);}
  50%  {background: rgb(196, 196, 245);}
  75%  {background: rgb(195, 247, 195);}
  100%   {background: rgb(238, 200, 200);}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: rgb(243, 191, 191);}
  25%  {background: rgb(248, 248, 194);}
  50%  {background: rgb(196, 196, 245);}
  75%  {background: rgb(195, 247, 195);}
  100%   {background: rgb(238, 200, 200);}
}

header {
background: #d21034;
}

h1 {
/* Box-model */
padding: 20px 0;

/* Positioning */
margin: 0;
margin-bottom: 20px;
font-size: 28px;

/* Typography */
color: #eee;
text-align: center;

/* Visual */
background: #333;
}

h2 {
font-size: 24px;
}

.container {
/* Box-model */
width: 100%;

/* Positioning */
margin: 0 auto;
}

p1 {
    background-color: beige;
    padding: 20px;
}

.col-md-6 {
width: 30%;
/* background-image: url("../Images/bg-image4.gif") */
}


#spinning-head-image {
max-width: 300px;
float: left
}

/* The following are camera specific */

#myOnlineCamera video {
    width:320px;
    height:240px;
    margin:15px;
    float:left;
}

#myOnlineCamera canvas {
    width:320px;
    height:240px;
    margin:15px;
    float:left;
}

#songs, a{
  background-color: rgba(0,0,0,0.2);
  max-height: 300px;
  margin-bottom: 10px;
  padding-left: 0px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

#myOnlineCamera button {
    clear:both;
    margin:30px;
}


#videoElement {
    width: 200px;
    height: 200px;
    background-color: #666;
}

#faceBlurb {
    padding-left: 15px;
}

video {
    border: 10px #333 solid;
}

/* media query settings*/

@media screen and (max-width: 350px) {

    #spinning-head-image {
        max-width: 75%;
    }
    #videoElement {
        max-width: 150px;
        max-height: 150px;
        background-color: #666;
    }


}
